@mixin design-system-elements-definition-list {
  dl {
    width: auto;
  }

  dl,
  dt,
  dd {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  dt,
  dd {
    margin-bottom: $base-spacing/2;
    text-align: left;
  }

  dl dd:last-of-type {
    margin-bottom: 0;
  }

  dt {
    font-weight: bold;
    margin-top: $base-spacing;

    &:first-of-type {
      margin-top: 0;
    }
  }

  @include breakpoint(medium) {
    dl,
    dt {
      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }

    dt {
      float: left;
      width: ($base-spacing * 14);
      padding: 0;
      margin: 0;
      clear: both;
    }

    dd {
      float: right;
      clear: right;
      width: calc(100% - (#{$base-spacing} * 14));
      padding: 0 0 $base-spacing;
      margin: 0;
    }

    @supports (display: grid) {
      dl,
      dd,
      dt {
        float: none;
        margin: 0;
        padding: 0;
        max-width: none;
      }

      dd,
      dt {
        width: 100%;
      }

      dl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: max-content;
      }

      dt {
        grid-column: 1;
        max-width: ($base-spacing * 14);
        padding-right: $base-spacing;
        padding-bottom: $base-spacing;
      }

      dd {
        grid-column: 2;
        padding-bottom: $base-spacing;
      }
    }
  }
}
