@import "../../styles/core.scss";

.page-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__inner {
    border-top: 4px solid get-color(blue);
    flex: 1;
    padding: $base-spacing * 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__footer {
    padding: $base-spacing $base-spacing * 2;

    a {
      color: get-color(grey);
      text-decoration: none;
      transition: color 0.25s ease-in-out;
    }
    a:hover,
    a:active {
      color: get-color(green);
    }
  }
  &__footer-item {
    display: block;
    padding: $base-spacing 0;
  }

  @include breakpoint(large) {
    &__inner {
      padding-left: $base-spacing * 6;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
    }

    &__footer-item {
      flex: none;
    }
  }
}

.greeting-emoji {
  display: none;
  @include breakpoint(large) {
    margin-left: -$base-spacing * 3;
    display: inline-block;
  }
}

.page-title-section {
  @include breakpoint(large) {
    display: block;
    margin-left: $base-spacing * 3;
  }
}
